<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Receipt Analysis</ion-title>
    <ion-buttons  end >


            <button item-right clear (click)="goToMenu()" style="background-color:transparent;">
                    <ion-icon name="apps" style="color:#FFF" ></ion-icon>
                </button>
          </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

<div style=" text-align:center;">
  <img src="assets/imgs/supermarket.png" *ngIf="cat == 'Supermarket' " style="width:200px; height:200px;"/>
  <img src="assets/imgs/uniqlo.png" *ngIf="cat == 'Clothing Store' " style="width:200px; height:200px;"/>
  <img src="assets/imgs/mister.png" *ngIf="cat == 'Electronic Store' " style="width:200px; height:200px;"/>
</div>




    <ion-list>
          <ion-item style="max-width:400px; margin-left:auto; margin-right:auto; margin-top:5px; border-radius:2px;" >

  <p>Store Name</p>
            <h2>{{name}}</h2>

            <button ion-button clear item-end>Total: {{total}}€</button>
          </ion-item>



          <ion-item style="max-width:400px; margin-left:auto; margin-right:auto; margin-top:1px; border-radius:2px;" >
            <p>Category</p>
            <h2>{{cat}}</h2>
          </ion-item>

          <ion-item style="max-width:400px; margin-left:auto; margin-right:auto; margin-top:1px; border-radius:2px;" >
          <p>Location</p>
            <h2>{{location}}</h2>
          </ion-item>

          <ion-item style="max-width:400px; margin-left:auto; margin-right:auto; margin-top:1px; border-radius:2px;" >
          <p>Date</p>
            <h2>{{date}}</h2>
          </ion-item>


        </ion-list>


    <ion-list>
        <ng-container *ngFor="let il of itemList" >
          <ion-item style="max-width:400px; margin-left:auto; margin-right:auto; margin-top:1px; border-radius:2px;" >

            <h2>{{il.item_name}}</h2>
            <p>Quantity: {{il.quantity}}</p>
            <p *ngIf="il.category == 'freshFood' ">Fresh Food</p>
            <p *ngIf="il.category == 'drinks' ">Drink</p>
            <p *ngIf="il.category == 'alcoholicDrinks' ">Alcoholic Drink</p>
            <p *ngIf="il.category == 'houseCleaning' ">House Cleaning Product</p>
            <p *ngIf="il.category == 'accessories' ">Accessories</p>
            <p *ngIf="il.category == 'womenClothing' ">Women Clothing</p>
            <p *ngIf="il.category == 'menClothing' ">Men Clothing</p>
            <p *ngIf="il.category == 'footwear' ">Footwear</p>
            <p *ngIf="il.category == 'childClothing' ">Children Clothing</p>
            <p *ngIf="il.category == 'phone' ">Phone</p>
            <p *ngIf="il.category == 'printer' ">Printer</p>
            <p *ngIf="il.category == 'mouse' ">Mouse</p>
            <p *ngIf="il.category == 'keyboard' ">Keyboard</p>
            <p *ngIf="il.category == 'laptop' ">Laptop</p>
            <button ion-button clear item-end>{{il.price}}€</button>
          </ion-item>
        </ng-container>
    </ion-list>




</ion-content>
